# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

.vscode/
launch.json

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Ignore specific Identifier files
MyIdentifier.json
AnotherIdentifier.txt

# Ignore files starting with "Identifier"
.Identifier*

# Ignore files with "Identifier" anywhere in their name that have the log extension
*Identifier*.log

#Ignore the folder containing the files
identifiers/

# Ignore other types of files (example)
*.log
*.tmp

*.env

