<!DOCTYPE html>
<html>

<head>
    <title>Razorpay Payment</title>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
</head>

<body>
    <form id="paymentForm">
        <script>
            var options = {
                "key": "rzp_test_wRddSMfkOT0YXW", // Razorpay Key from Template
                "amount": "{{.Amount}}", // Amount in paise from template
                "currency": "{{.Currency}}", // Currency from template
                "name": "{{.MerchantName}}", // Merchant Name from template
                "description": "Deposit Payment",
                "image": "{{.ImageURL}}", // Image URL from template
                "order_id": "{{.OrderID}}", // Pass the Order ID here
                "handler": function (response) {
                    alert("Payment ID: " + response.razorpay_payment_id);
                    alert("Order ID: " + response.razorpay_order_id)
                    alert("Signature:" + response.razorpay_signature)

                    // Handle the successful payment here (e.g., send the payment ID to your server for verification)
                    // You can use an AJAX request to send the data to your server
                    // For example:
                    // fetch('/payment-success', {
                    // 	method: 'POST',
                    // 	headers: {
                    // 	'Content-Type': 'application/json',
                    // 	},
                    // 	body: JSON.stringify(response),
                    // }).then(response => response.json())
                    // .then(data => console.log(data))
                    // .catch((error) => {
                    // 	console.error('Error:', error);
                    // });
                },
                "prefill": {
                    "name": "Gaurav Kumar",
                    "email": "gaurav.kumar@example.com",
                    "contact": "9999999999"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.on('payment.failed', function (response) {
                alert(response.error.code);
                alert(response.error.description);
                alert(response.error.source);
                alert(response.error.step);
                alert(response.error.reason);
                alert(response.error.metadata.order_id);
                alert(response.error.metadata.payment_id);
            });
            document.getElementById('paymentForm').onclick = function (e) {
                rzp1.open();
                e.preventDefault();
            }
        </script>
        <button type="submit">Pay with Razorpay</button>
    </form>
</body>

</html>